/*
    * cupofkaffee v.1 (https://github.com/kaboel/cupofkaffee)
    * Copyright 2018 faiq.kaboel@gmail.com | In Effect
*/

@font-face {
    font-family: 'oxygenregular';
    src: url('../webfonts/oxygen-regular-webfont.woff2') format('woff2'),
         url('../webfonts/oxygen-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
html, body, div, table, ul, h1, h2, p, span, input, button, label {
    font-family: 'oxygenregular' !important;
}
span { 
    cursor: default;
}
button span {
    cursor: pointer;
}
a {
    text-decoration: none;
    color: inherit
}
body {
    background-color: #FFF4E6;
}
.main-head {
    background-color: #FFF4E6;
    margin-bottom: 20px;
    color: #875625;
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.75);
       -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.75);
            box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.75);
}
.main-foot {
    padding: 40px;
    text-align: center;
    color: #875625;
}
.main-foot .nav {
    font-size: 30px;
    margin-bottom: 20px;
}
.gap-20 {
    margin-top : 20px;
}
.copyright {
    font-size: 12px;
    font-style: italic;
    font-weight: bolder;
}
.hyper-img {
    cursor: pointer;
}
.hyper-nav {
    border: 2px solid transparent;
}
.hyper-nav span {
    cursor: pointer !important;
}
.nav-item {
    font-weight: bold;
}
.main-head .nav-item span span {
    font-size: 13px;
    margin-left: 2px;
}
.main-head .hyper-nav:hover,
.main-foot .hyper-nav:hover {
    text-shadow: none;
    color: #331400;
}
.hyper-text {
    cursor: pointer;
}
.put-bottom {
    position: absolute;
    bottom: 0;
    right: 5%;
}
.wrap {
    /* background-color: #331400; */
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}
.side {
    width: 17%;
}
.content {
    width: 82%;
}
.btn-kaffee,
.btn-kaffee:focus {
    outline: none !important;
    color: #DDD;
    background-color: #331400;
}
.btn {
    font-weight: bold !important;
}
.btn-kaffee:hover {
    color: #DDD;
    background-color: #7E4000;
}
.input-group-text {
   background-color: #331400 !important;
   color: #DDD;
}
.input-group-text {
    border: 1px solid #331400 !important
}
.admin-menu {
    z-index: 1;
    position: relative;
    width: 4.5%;
}
.menu-panel-menu {
    display: inline-block;
}
.main-menu {
    width: 100%;
    height: 100%;
    background-color: #331400;
    -webkit-box-shadow: 1px 0px 2px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 0px 2px 0px rgba(0,0,0,0.75);
         box-shadow: 1px 0px 2px 0px rgba(0,0,0,0.75);
    
}
.main-menu .logo {
    cursor: pointer;
    margin: 7px;
    padding: 7px;
    border-radius: 3px;
    background-color: #D5C1AA;
    -webkit-box-shadow: inset 0px 0px 2px 0px rgba(51,20,0,1);
    -moz-box-shadow: inset 0px 0px 2px 0px rgba(51,20,0,1);
    box-shadow: inset 0px 0px 2px 0px rgba(51,20,0,1);
}
.sub-menu {
    z-index: -1;
    position: absolute;
    height: 100%;
    width: 200px;
    margin-left: -210px;
    transition: .4s ease-in-out;
    transition-delay: .1s;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: rgba(51, 20, 0, 0.95);
    -webkit-box-shadow: 1px 0px 2px 0px rgba(0,0,0,0.75);
       -moz-box-shadow: 1px 0px 2px 0px rgba(0,0,0,0.75);
            box-shadow: 1px 0px 2px 0px rgba(0,0,0,0.75);
}
.sub-menu .logo {
    text-align: center;
    background-color: #331400;
    border-top-right-radius: 5px;
    padding: 4.2% 0 4.2% 0;
    color: #EEE;
}
.sub-menu .logo span {
    font-weight: bold;
    font-size: 0.9rem;
}
.sub-menu .logo i {
    font-size: 0.7rem;
}
.menu-collapse {
    margin-left: -10px !important;
}
.admin-content {
    width: 95.5%;
    margin-left: -4px;
}
.p-menu, .s-menu {
    padding: 0;
    list-style: none;
}
.p-menu li {
    font-weight: bolder;
    cursor: pointer;
    margin-top: -1px;   
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    padding: 20%;
    font-size: 0.80rem;
    color: #DDD;
    text-align: center;
}
.p-menu li:hover,
.p-menu li .active { 
        color:#FFF4E6;
        text-shadow:1px 1px 10px #DDD, 1px 1px 10px #ccc;
}
.p-menu li i {
    cursor: pointer;
    font-size: 1rem;
    margin-left: 7.5px;
    margin-right: 15px;
}
.p-menu li span {
    cursor: pointer;
}
.p-menu #logoutTrig {
    color: #fc9c9c !important;
}
.p-menu #logoutTrig:hover,
.p-menu #logoutTrig:active {
    color: #ff6d6d !important;
}

.s-menu {
    margin-bottom: 0;
}
.s-menu li {
    cursor: pointer;
    color: #AAA;
    font-weight: bolder;
    font-size: 0.75rem;
    padding: 7px 30px 7px 30px;
    margin-top: -1px;   
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
}
.s-menu li:hover {
    background-color: #683520;
    border-color: #683520;
    color: #EEE;
}
.p-menu li:hover,
.s-menu li:hover {
    transition: .2s ease-in-out;
}
.top-bar {
    /* position: fixed; */
    width: 100%;
    font-size: 0.8rem;
    text-align: right;
    padding: 4px 7px 4px 0;
    background-color: #331400;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 4px;
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.75);
       -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.75);
            box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.75);
}
.applet {
    cursor: pointer;
    border: none;
    padding: 4px;
    margin-left : 2px;
    margin-right: 2px;
    transition: all .2s ease-in-out;
    background: transparent;
    outline: none;
    color: #DDD;
}
.applet:hover {
    color:#FFF4E6;
    text-shadow:1px 1px 10px #DDD, 1px 1px 10px #ccc;
}
.applet b {
    font-size: 0.7rem !important;
}


/* OVERRIDE */
.ui-dialog-titlebar-close {
    display: none !important;
}


@media screen and (max-width: 600px) {
  
}