* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
h1, h2, p {
    cursor: default;
}
body {
    padding: 0;
    margin: 0;
    background-image:  url("");
    background: #FFF4E6 url("/cupofkaffee/errors/images/kaffee-main-trans.png") no-repeat center;
}
#notfound {
    position: relative;
    height: 100vh;
}
#notfound .notfound {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}
.notfound {
    max-width: 710px;
    width: 100%;
    padding-left: 190px;
    line-height: 1.4;
}
.notfound .notfound-404 {
    position: absolute;
    left: 0;
    top: 0;
    width: 150px;
    height: 150px;
}
.notfound .notfound-404 h1 {
    font-family: 'Passion One', cursive;
    color: #331400;
    font-size: 150px;
    letter-spacing: 15.5px;
    margin: 0px;
    font-weight: 900;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}
.notfound h2 {
    font-family: 'Raleway', sans-serif;
    color: #292929;
    font-size: 1.6rem;
        font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    margin-top: 0;
}
.notfound p {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 15px;
    color: #333;
}
.notfound a {
    font-family: 'Raleway', sans-serif;
    font-size: 0.75rem;
    text-decoration: none;
    text-transform: uppercase;
    background: #fff;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 3px;
    color: #292929;
    font-weight: bold;
    -webkit-box-shadow: 0px 4px 15px -5px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 4px 15px -5px rgba(0, 0, 0, 0.3);
    -webkit-transition: 0.1s all ease-in-out;
    transition: 0.1s all ease-in-out;
}
.notfound a:hover {
    color: #fff;
    background-color: #331400;
}
@media only screen and (max-width: 480px) {
    .notfound {
        text-align: center;
    }
    .notfound .notfound-404 {
        position: relative;
        width: 100%;
        margin-bottom: 15px;
    }
    .notfound {
        padding-left: 15px;
        padding-right: 15px;
    }
}