/* 
    * cupofkaffee v.1 (https://github.com/kaboel/cupofkaffee)
    * Copyright 2018 faiq.kaboel@gmail.com | In Effect
*/

* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
h1, h2, p, span {
    cursor: default;
}
body {
    padding: 0;
    margin: 0;
    background-image:  url("");
    background: #FFF4E6 url("/cupofkaffee/errors/images/kaffee-main-trans.png") no-repeat center;
}
#notfound {
    position: relative;
    height: 100vh;
}
#notfound .notfound {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}
.notfound {
    max-width: 710px;
    width: 100%;
    padding-left: 220px;
    line-height: 1.4;
}
.notfound .notfound-404 {
    margin-top: 20px;
    position: absolute;
    left: 0;
    top: 0;
    width: 150px;
    height: 150px;
}
.notfound h1 {
    font-family: 'Raleway', sans-serif;
    color: #292929;
    font-size: 75px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    margin: 0;
    margin-bottom: 20px;
}
.notfound h1 small {
    font-size: 1.6rem !important;
}
.notfound p, span {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 15px;
    color: #333;
}
.notfound a {
    font-family: 'Raleway', sans-serif;
    font-size: 0.75rem;
    text-decoration: none;
    background: #331400;
    display: inline-block;
    padding: 7px 20px;
    border-radius: 3px;
    color: #fff;
    font-weight: bold;
    -webkit-box-shadow: 0px 4px 15px -5px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 4px 15px -5px rgba(0, 0, 0, 0.3);
    -webkit-transition: 0.1s all ease-in-out;
    transition: 0.1s all ease-in-out;
}
.notfound a:hover {
    color: #DDD;
    background-color: #7E4000;
}
@media only screen and (max-width: 480px) {
    .notfound {
        text-align: center;
    }
    .notfound .notfound-404 {
        position: relative;
        width: 100%;
        margin-bottom: 15px;
    }
    .notfound {
        padding-left: 15px;
        padding-right: 15px;
    }
}